/* <nav class="site-nav" aria-label="주요 메뉴">
          <ul class="site-nav__list">
            <li class="site-nav__item">
              <a class="site-nav__link" href="/" aria-current="page">홈</a>
            </li>
            <li class="site-nav__item">
              <a class="site-nav__link" href="/market.html">마켓</a>
            </li>
            <li class="site-nav__item">
              <a class="site-nav__link" href="/category.html">카테고리</a>
            </li>
            <li class="site-nav__item">
              <a class="site-nav__link" href="/event.html">이벤트</a>
            </li>
            <li class="site-nav__item">
              <a class="site-nav__link" href="/contact.html">문의</a>
            </li>
          </ul>
        </nav> */

/* nav */
.site-nav {
  background: var(--color-primary);
}

.site-nav__list {
  max-width: var(--container-max);
  margin: 0 auto;
  display: flex;
  padding-top: var(--space-8);
  gap: var(--space-16);
  justify-content: center;
  align-items: center;
}

.site-nav__link {
  display: inline-flex;
  align-items: center;
  padding: 8px 10px;
  border-radius: var(--radius-btn);
  color: var(--color-text);
  text-decoration: none;
  font-weight: 600;
}

.site-nav__link:hover {
  background: var(--color-primary-sub);
}

.site-nav__link[aria-current='page'] {
  background: var(--color-primary-sub);
  color: #111;
}
